Due Midnight May 6, 2015
NIPS format, max 8 pages -- 1 submission per team
8 minute presentations (~6 minutes; 1-2 minutes for questions).
Need to be present both days since presentation order is random.

